BasedOnStyle: LLVM

# ##Allman##
#BreakBeforeBraces: Allman
#SpaceBeforeParens: ControlStatements
#IndentCaseLabels: true
#IndentWidth: 4
# ##END##

# ##GNU##
#BreakBeforeBraces: GNU
#SpaceBeforeParens: ControlStatements
#IndentCaseLabels: false
#IndentWidth: 8
# ##END##


BinPackParameters: false
BinPackArguments: true

AlignConsecutiveMacros: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# AllowShortCaseLabelsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
# AllowShortFunctionsOnASingleLine: All

AlwaysBreakAfterReturnType: TopLevelDefinitions
# AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: None
BreakStringLiterals: true

# PenaltyBreakAssignment: 1000
PenaltyExcessCharacter: 3
PenaltyBreakBeforeFirstCallParameter: 500

# NamespaceIndentation: Inner
# IndentPPDirectives: AfterHash
# IndentWrappedFunctionNames: true

# AccessModifierOffset: 0
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceBeforeAssignmentOperators: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: true

FixNamespaceComments: true

ForEachMacros: ['LL_FOREACH_F', 'LL_FOREACH_B', 'B_LIST_FOREACH', 'B_FOREACH',
                'P99_PARALLEL_FOR', 'P99_PARALLEL_DO', 'GENLIST_FOREACH', 'foreach']


# ##Linux##
BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
IndentCaseLabels: false
IndentWidth: 6
# ##END##

UseTab: Never
ColumnLimit: 90

# ##Custom##
#BreakBeforeBraces: Custom
#IndentWidth: 6
#BraceWrapping:
#  AfterClass:            true
#  AfterControlStatement: false
#  AfterEnum:             false
#  AfterFunction:         true
#  AfterNamespace:        false
#  AfterObjCDeclaration:  false
#  AfterStruct:           false
#  AfterUnion:            false
#  BeforeCatch:           false
#  BeforeElse:            false
#  IndentBraces:          false
#  SplitEmptyFunction:    false
#  SplitEmptyRecord:      false
#  SplitEmptyNamespace:   false
##
# ##END##
#  AfterExternBlock:      false

