BasedOnStyle: LLVM

# ##Allman##
#BreakBeforeBraces: Allman
#SpaceBeforeParens: ControlStatements
#IndentCaseLabels: true
#IndentWidth: 4
# ##END##

# ##GNU##
#BreakBeforeBraces: GNU
#SpaceBeforeParens: ControlStatements
#IndentCaseLabels: false
#IndentWidth: 8
# ##END##

AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
BinPackArguments: false

AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
#AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignOperands: true

AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

SpaceBeforeAssignmentOperators: true
AlwaysBreakAfterReturnType: AllDefinitions
# IndentPPDirectives: AfterHash
MaxEmptyLinesToKeep: 2

BreakStringLiterals: true
PointerAlignment: Right
ReflowComments: true
SortIncludes: true

# ##Linux##
BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
IndentCaseLabels: false
IndentWidth: 8
# ##END##

UseTab: Never
ColumnLimit: 80

ForEachMacros: ['FOREACH', 'DFOREACH', 'foreach_L', 'foreach_LC', 'foreach_F', 'foreach_FC', 'foreach_DL', 'foreach_DLC']
